
ul.nomark,
ol.nomark,
ul.conformance-list {
    list-style-type: none;
}

dl.elemdef {
    border-left: 0.5em solid rgb(145,200,255);
    background-color: rgb(236,246,255);
    padding: 0.5em 1em;
	margin-bottom: 2em;
}

dl.conformance-list > dd {
    margin-top: 0.7em;
}


/* styles for conformance list links */

span.link-marker {
    float: left;
}

a.hidden-reveal {
    color: #005A9C !important;
}
a.hidden-reveal::before {
    content: "›" !important;
}
a.hidden-reveal:link {
    text-decoration: none !important;
    color: #005A9C !important;
    border-bottom: none !important;
}
a.hidden-reveal:visited {
    text-decoration: none !important;
    color: #005A9C !important;
}
a.hidden-reveal:hover {
    background-color: rgb(255,255,0) !important;
}
a.hidden-reveal:active {
    text-decoration: none !important;
    color: #005A9C !important;
}

/* styles for prefix mapping tables */

table.mapping {
    border-collapse: collapse;
}

table.mapping th,
table.mapping td {
    padding: 0.5em;
    border-bottom: 1px solid rgb(0,90,156);
}

table.mapping tr > td:first-child {
    border-right: 1px solid rgb(220,220,220);
}


/*  EBNF tables */


table.productionset {
    border: none;
    border-left: 5px solid rgb(145,200,255);
    background-color: rgb(236,246,255);
}

table.productionset caption {
	text-align: left;
	font-size: 80%;
	font-style: normal;
}

table.productionset tbody tr {
    border: none;
}

table.productionset tbody tr td {
    border: none;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

table.productionset tbody tr td a {
    text-decoration: none;
    border-bottom: 1px dotted #000090;
}

table.productionset tbody tr td a:hover {
    text-decoration: underline;
}

table.productionset tbody tr td a:visited,
table.productionset tbody tr td a:active,
table.productionset tbody tr td a:hover {
    color: #000090;
}
