body
{
  margin: 2em 2em 2em 70px;
  font-family: sans-serif;
}

h1, h2, h3 { color: #005A9C; }
h1 { font-size: 1.7em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

.head { margin-bottom: 1em; margin-top: 2em; }

p.copyright { font-size: small }

p { margin: 0px; text-indent: 1.5em; }

dt { font-weight: bold }

table.propdef {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 1.2em
}

table.propdef td, table.propdef th {
    padding: 0 0.3em;
    vertical-align: baseline;
}

table.propdef th {
    font-style: italic;
    font-weight: normal;
    text-align: left;
}

.example {
    background: #FFF8DD;
    padding: 0.5em;
    margin: 1em 0;
    border: thin solid #999;
    position: relative;
}

pre { font-family: "Courier New", monospace; }

.prop-ref { font-weight: bold; font-size: 0.95em; text-decoration: none; color: #560; }
.rule-ref { font-weight: bold; font-size: 0.95em; text-decoration: none; color: #056; }
.term-ref { font-weight: bold; font-size: 0.95em; text-decoration: none; color: #506; }
.value-ref { font-weight: bold; font-size: 0.95em; text-decoration: none; color: #052; }

code { font-size: 1em; font-family: "Courier New", monospace; }

.syntax { font-size: 0.85em; }

.note {
	color: #EE0000;
}

table.operators {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

table.operators td {
    border: 1px solid black;
    padding: 0.3em;
}