@charset "UTF-8";
polygon:hover
 {
    fill: red;
    opacity: 0.3;
  }
polygon
 {
    fill: white;
    opacity: 0;
}

rect:hover
 {
    fill: red;
    opacity: 0.3;
  }
rect
 {
    fill: white;
    opacity: 0;
}

path:hover
 {
    fill: red;
    opacity: 0.3;
  }
path
 {
    fill: white;
    opacity: 0;
}