table {
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 0.5em;   
}
td {
    border: 1px solid black;
    padding: 0.5em;
}
p {
	margin-bottom: 0px;
	margin-top: 0px;
}
p + p { 
	text-indent: 1.5em;
}
p.info {
	color: red;
	margin: 1em;
}
p.info + p { 
	text-indent: 0px;
}
.rule {
	 color: #050;
	 font-family: sans-serif;
	 font-weight: bold;
	 font-size: 0.9em;
}
.prop {
	 color: #540;
	 font-family: sans-serif;
	 font-weight: bold;
	 font-size: 0.9em;
}
.func {
	 color: #500;
	 font-family: sans-serif;
	 font-weight: bold;
	 font-size: 0.9em;
}
.val {
	 color: #006;
	 font-family: sans-serif;
	 font-weight: bold;
	 font-size: 0.9em;
}
.name {
	 color: #404;
	 font-family: sans-serif;
	 font-weight: bold;
	 font-size: 0.9em;
}
pre {
	padding: 0.5em;
	background: #FFD;
	border: 1px solid black;
	margin: 0.5em;
}
dt {
	font-weight: bold;
}
.image-container {
	text-align: center;
}
#img1 {
	width: 100%;
	max-width: 1024px;
}
ol ol { list-style: upper-latin; }

.toc ol { list-style-type: none; }