/*waiting for namespace support on attributes ... 
@namespace ops "http://example.org/epub";*/

body {
	font-family: Georgia;
	line-height:150%;
	margin: 2em;
}


@-webkit-keyframes glow {
		0% {
			-webkit-box-shadow: 0 0 1em rgba(255, 255, 0, 0.5);
			border-color: rgba(255, 255, 0,0.5); 		
		}
		100% {
			-webkit-box-shadow: 0 0 1em rgba(255, 255, 0, 1.0), 0 0 1em rgba(255, 255, 0, 1.0);
			border-color: rgba(255, 255, 0,1.0); 
		}
	}

.smilAware {
	    background-color: transparent;
}
.smilAware:hover {
    background-color: rgba(255, 255, 0, 0.5);

    cursor: pointer;
	transition: background-color 1s;
    -o-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;

    -webkit-box-shadow: #87cefa 0px 0px 0.8em;
    box-shadow: #87cefa 0px 0px 0.8em;
    -moz-box-shadow: #87cefa 0px 0px 0.8em;
    -o-box-shadow: #87cefa 0px 0px 0.8em;
}
.smilActive {
    background-color: rgba(255, 255, 0, 1.0);

    transition: background-color 1s;
    -o-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;

    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;

    overflow: hidden;

    transform: none;
    -o-transform: none;
    -moz-transform: none;
    -webkit-transform: none;

    text-shadow: rgba(20, 20, 20, 0.5) 1px 1px 2px;

    -webkit-box-shadow: rgba(255, 255, 0, 0.5) 0px 0px 0.8em;
    box-shadow: rgba(255, 255, 0, 0.5) 0px 0px 0.8em;
    -moz-box-shadow: rgba(255, 255, 0, 0.5) 0px 0px 0.8em;
    -o-box-shadow: rgba(255, 255, 0, 0.5) 0px 0px 0.8em;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}


/*aside[ops|role="sidebar"] {*/
aside.sidebar {
	overflow:hidden;
	
	background: rgba(200, 54, 54, 0.2);
	width: 32%;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	border: thin black solid;
}
/*aside[ops|role="sidebar"][class="leftsidebar"] {*/
aside.leftsidebar {
	float: left;
}
/*aside[ops|role="sidebar"][class="rightsidebar"] {*/
aside.rightsidebar {
	float: right;
}
/*div#footnotes, div[ops|role="footnote"] {*/
div.footnote {
border-radius: 10px;
	background: rgba(0, 0, 200, 0.2);
	
	border-width: thin;
	border-color: black;
	border-style: solid;
	padding: 1em;
}
/* span[ops|role=pagenum]{ */
span.pagenum {
	font-weight: bold;
	background: rgba(0, 200, 0, 0.2);
}
.hidden {
	display: none;
}
figure {
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
figcaption {
	text-align: center;
	  font-style: italic;
	  font-size: smaller;
	  text-indent: 0;
	font-family: courier;
}
cite {
	display: block;
	text-align: center;
}
aside > figure {
	float: none;
	border: none;
	margin: none;
	padding: none;
}
figure > img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
header > h1, header > h2 {
	text-align: center;
}
figure.chapterimage > figcaption {
	max-width: 100px;
}

/*div[ops|role="footnote"] {*/
span.footnote {
	border: thin solid black;
	padding: 10px;
	font-size: smaller;
}