/* emphasize the active element */
.-epub-media-overlay-active {
    background-color: yellow;
    color: black;
}

/* fade out the inactive text by default */
html.-epub-media-overlay-playing * {
    color: gray !important;
}
