
ul.nomark,
ol.nomark {
    list-style-type: none;
}

ol.cmt,
ul.flat {
	list-style-type: none;
	padding-left: 0;
}

ol.cmt {
	margin: 0;
}

dl.elemdef {
    border-left: 0.5em solid rgb(145,200,255);
    background-color: rgb(236,246,255);
    padding: 0.5em 1em;
	margin-bottom: 2em;
}

dl.elemdef ul.nomark {
	padding-left: 1em;
}

dl.elemdef > dd > ul.nomark:first-child {
	padding-left: 0 !important;
}

dl.conformance-list > dd {
    margin-top: 0.7em;
}


/* styles for conformance list links */

a.hidden-reveal {
    color: #005A9C !important;
}
a.hidden-reveal::before {
    content: "›" !important;
}
a.hidden-reveal:link {
    text-decoration: none !important;
    color: #005A9C !important;
    border-bottom: none !important;
}
a.hidden-reveal:visited {
    text-decoration: none !important;
    color: #005A9C !important;
}
a.hidden-reveal:hover {
    background-color: rgb(255,255,0) !important;
}
a.hidden-reveal:active {
    text-decoration: none !important;
    color: #005A9C !important;
}

/* styles for prefix mapping tables */

table.mapping {
    border-collapse: collapse;
}

table.mapping th,
table.mapping td {
    padding: 0.5em;
    border-bottom: 1px solid rgb(0,90,156);
}

table.mapping tr > td:first-child {
    border-right: 1px solid rgb(220,220,220);
}


/*  EBNF tables */


table.productionset {
    border: none;
    border-left: 5px solid rgb(145,200,255);
    background-color: rgb(236,246,255);
}

table.productionset caption {
	text-align: left;
	font-size: 80%;
	font-style: normal;
}

table.productionset tbody tr {
    border: none;
}

table.productionset tbody tr td {
    border: none;
    padding: 0.5em;
    border-bottom: 1px solid #ddd;
}

table.productionset tbody tr td a {
    text-decoration: none;
    border-bottom: 1px dotted #000090;
}

table.productionset tbody tr td a:hover {
    text-decoration: underline;
}

table.productionset tbody tr td a:visited,
table.productionset tbody tr td a:active,
table.productionset tbody tr td a:hover {
    color: #000090;
}

a.deprecated,
a.legacy {
	font-size: 85%;
	text-transform: uppercase;
}

/* styles for core media types */

table#tbl-core-media-types {
    border-spacing: 0px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 2em;    
}

table#tbl-core-media-types th {
    border-bottom: 1px solid #005A9C;
    font-weight: bold;
    padding: 0.5em;
    font-weight: bold;
    color: #000090;
    font-size: 90%
}

table#tbl-core-media-types td {
    border-bottom: 1px solid #005A9C;
    border-right: 1px solid #efefef;
    padding: 0.5em;
    text-align: left
}

table#tbl-core-media-types tr td:last-child {
    border-right: none;
}

table#tbl-core-media-types td *, table#tbl-core-media-types td > * {
    text-align: left;
}

table#tbl-core-media-types, table#tbl-core-media-types tbody {
    padding: 0;
}

table#tbl-core-media-types caption {
    text-align: left;
    font-size: 90%
}

.tbl-group {
	text-align: left;
	border-bottom: none;
	color: rgb(0, 0, 0);
	background-color: rgb(240, 248, 255);
}

table#tbl-core-media-types > thead > tr > th {
    background-color: rgb(240,240,240);
    text-align: left;
    white-space:nowrap;
}

table#tbl-core-media-types > tbody > tr > th {    
    text-align: left;
    font-weight: normal;
    font-style: italic;
    padding: 3px;
}

table#tbl-core-media-types td, table#tbl-core-media-types th, table#tbl-core-media-types tr {
    border-color: #005A9C;
    margin: 0em;
}

table#tbl-core-media-types td code, table#tbl-core-media-types td a {
    white-space:nowrap;
}

td[headers="tbl-cmt-appl"] {
    font-size: .9em;
}




/****************************************************/
/*  property tables                                 */
/****************************************************/

/* ensure confomity of width for property tables */
section.vocab table {
	border-spacing: 0px;
	border: none;
	font-size: 1em;
	width: 100%
}

section.vocab table td, table th {
	border: none;
	background-color: rgb(236,246,255);
	color: rgb(0,0,0);
	padding: 0.3em;
	vertical-align: top;
}

section.vocab table th {
    text-align: left;
	vertical-align: top;
    width: 8em;
    border-right: 1px solid rgb(145,200,255);
}

section.vocab table th {
    border-left: 5px solid rgb(145,200,255);
}

section.vocab td {
    padding: 3px 3px 3px 10px;
}

section.vocab td > p:first-child {
	padding: 0em;
	margin: 0em
}


/* Reserved prefix tables */

table.prefix {
    border-spacing: 0px;
    padding: 1em;
    margin-top: 1.5em;
    margin-bottom: 2em;    
}
table.prefix th {
    border-bottom: 1px solid #005A9C;
    font-weight: bold;
    padding: 0.5em;
    font-weight: bold;
    color: #000090;
    font-size: 90%
}
table.prefix td {
    border-bottom: 1px solid #005A9C;
    border-right: 1px solid #efefef;
    padding: 0.5em;
    text-align: left
}
table.prefix tr td:last-child {
    border-right: none;
}
table.prefix td *, table.prefix td > * {
    text-align: left;
}
table.prefix, table.prefix tbody {
    padding: 0;
}

table.prefix caption {
    text-align: left;
    font-size: 90%
}


/* Table zebra style... */

table.zebra {
    font-size:inherit;
    font:90%;
    margin:1em;
}

table.zebra td {
    padding-left: 0.3em;
}

table.zebra th {
    font-weight: bold;
    text-align: center;
    background-color: rgb(0,0,128) !important;
    font-size: 110%;
    background: hsl(180, 30%, 50%);
    color: #fff;
}

table.zebra th a:link {
  color: #fff;
}

table.zebra th a:visited {
  color: #aaa;
}

table.zebra tr:nth-child(even) {
    background-color: hsl(180, 30%, 93%) !important;
}

table.zebra th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table.zebra td{border-bottom:1px solid #ddd;padding:.2em 1em;}

/* structure defs */

section#structure-vocab dd > p:first-child {
	margin-top: 1rem !important;
}

section#structure-vocab dd + dd {
	font-size: 90%;
}

.subproplabel {
	font-style: italic;
}

p.support {
	border-left: 0.4rem solid rgb(255,255,0);
	background-color: rgb(255,255,230);
	padding: 0.7rem;
}

p.caution, div.caution {
	padding: 0.5rem;
	border-left: 0.5rem solid rgb(255,140,0);
	background-color: rgb(254,236,207);
}

div.caution-title > span {
	color: rgb(140,40,0);
	text-transform: uppercase;
}

details.desc {
	margin-top: -2.5rem !important;
	margin-left: 3rem !important;
}

details.desc > summary {
	text-align: left;
    font-weight: normal !important;
    font-style: italic;
}
