/* rng-doc.css */
@import url(../../../../../z3986-2011.css);
/* code {color:red;font-size:large;} */
body {
    margin-top:0mm;
}
div.top-banner {
    text-align:center;
    font-size:large;
    letter-spacing:3pt;
    font-weight:bold;
    background-color:rgb(190,190,190);
    padding:2mm;
    border-bottom:2mm solid rgb(190,190,239);
}

/* GENERAL */

div.main-description {
margin-top:2em;
margin-bottom:5em;    
}
span.element-variant {
    color:rgb(120,30,30);
    text-transform:capitalize;
}
a {
    text-decoration:none;
    color:rgb(0,0,220);
}
a:hover {
    text-decoration:underline;
}
*.attribute {
    font-family:monospace;
    color:rgb(120,70,20);
}
*.element {
    font-family:monospace;
    color:rgb(20,70,180);
}
*.namespace {
    font-family:monospace;
    color:rgb(120,70,180);
}
*.markup {
    font-family:courier, fixed, monospace;
    color:rgb(180,0,0);
}
table {
    border-collapse:collapse;
    margin-bottom:1em;
    width:100%;
}
td, th {
    padding-left:2mm;
}
/* ALt Element TOC */
ul.main-element-toc, ul.main-attribute-toc {
/* border:1pt solid red; */
    list-style:none;
    margin:0;
}
ul.main-element-toc li, ul.main-attribute-toc li {
    display:inline;
}
ul.main-element-toc a, ul.main-attribute-toc a {
    display:inline-block;
    padding:2pt;
    margin:2pt 1pt 0 0;
    text-align:center;
    text-decoration:none;
    width:10em;
}
ul.main-element-toc a {
    color:rgb(180,0,0);
    background-color:rgb(240,240,220);
    border:3pt solid rgb(170,170,200);
}
ul.main-element-toc a:hover {
    background-color:rgb(240,240,250);
    border:outset;
}
div.element-content-model a.attribute {
    background-color:rgb(220,240,220);
    border:1px solid rgb(150,130,200);
}
ul.main-attribute-toc a {
    color:rgb(180,0,180);
    background-color:rgb(220,240,220);
    border:3pt solid rgb(150,130,200);
}
ul.main-attribute-toc a:hover {
    background-color:rgb(255,255,250);
    border:outset;
}
/* ELEMENT TOC */
div.element-toc a.element {
    display:inline-block;
    color:rgb(180,0,0);
    background-color:rgb(240,240,220);
    padding:2pt;
    margin:2pt 1pt 0 0;
    text-align:center;
    border:3pt solid rgb(170,170,200);
    text-decoration:none;
}
div.element-toc a.element:hover {
    background-color:rgb(240,240,250);
    border:outset;
}
div.element-toc a.element {
    width:10em;
}
/* LOCAL ELEMENT TOC */
div.element-toc-container {
    position:relative;
    font-size:70%;
    float:right;
    width:200pt;
    margin:0mm;
    padding:1mm;
    background-color:rgb(230,230,230);
    border:3pt outset rgb(200,200,200);
}
ul.element-toc {
    margin:0;
    padding:0;
}
ul.element-toc a {
    color:rgb(150,150,150);
}
ul.element-toc a:hover {
    color:rgb(80,80,80);
}

a.link-to-main-menu {
    position:absolute;
    top:10pt;right:0pt;
    background-color:rgb(255,255,155);
    border:2pt outset rgb(200,200,200);
    padding:2mm;
    text-align:center;
    color:rgb(150,50,50);
    font-weight:bold;
    font-size:smaller;
}
a.link-to-main-menu:hover {color:rgb(250,50,50);}

li#link-to-main-menu {
    position:absolute;
    top:2pt;right:2pt;
    list-style-type:none;
    background-color:rgb(255,255,255);
    border:2pt outset rgb(200,200,200);
    padding:2mm;
    text-align:center;
}

p.longdesc-link {
    padding-left:30mm;
    font-style:italic;
}

li#link-to-main-menu a {
    color:rgb(150,50,50);
    font-weight:bold;
}
li#link-to-main-menu a:hover {
    color:rgb(250,50,50);
}

li.h2 {
    margin-left:2em;
}
li.h3 {
    margin-left:4em;
}
li.h4 {
    margin-left:6em;
}
/* DUPLICATED ELEMENTS */
ol, ul {
    list-style-type:square;
/* list-style-position:inside; */
}
ul a {
    color:rgb(100,100,100);
}
ul a:hover {
    text-decoration:none;
}
/* ELEMENT INFORMATION */
div.elementInformation {
    border:1pt solid rgb(230,230,230);
    padding-left:2mm;
    margin-bottom:3em;
}
div.element-coreinfo h2 {
    margin:1.5em 0 0 0;
    padding:0;
    border-bottom:none;
    font-size:100%;
}
div.element-coreinfo p {
    margin:0;
    padding:0;
}
/* RNG SYNTAX (CONTENT MODELS */
div.element-content-model {
    background-color:rgb(248,248,255);
    padding:3mm 3mm 3mm 0mm;
    border:1pt solid rgb(220,220,220);
    line-height:3ex;
    margin-right:1em;
}
div.element-content-model a.element, div.element-content-model a.attribute {
    color:rgb(180,0,0);
    padding-top:0mm;
    padding-bottom:0mm;
    padding-left:3pt;
    padding-right:3pt;
}
div.element-content-model a.element {
    background-color:rgb(240,240,220);
    border:1px solid rgb(170,170,200);
}
div.menu-rng {
    border-left:1pt solid rgb(220,220,220);
    padding-left:1mm;
    clear:both;
    margin-bottom:2em;
}
div.rng, div.rng-choice, div.rng-optional-attributes, div.rng-required-attributes, div.rng-rdfa, div.rng-interleave {
    border-left:1pt solid rgb(220,220,220);
    padding-left:2.1em;
    clear:both;
    color:rgb(160,160,160);
    text-indent:-2em;
}
div.rng-choice, div.rng-optional-attributes, div.rng-required-attributes, div.rng-rdfa {
    padding-bottom:0.5em;
}
div.rng-content {
    margin-left:2em;
    margin-bottom:1mm;
}
span.rng {
    color:rgb(160,160,160);
}
*.rng-value-token {
    font-family:courier, fixed, monospace;
    color:rgb(10,130,20);
}
*.rng-value-string {
    font-family:courier, fixed, monospace;
    color:rgb(150,130,160);
}
*.rng-pattern {
    font-family:courier, fixed, monospace;
    color:rgb(130,50,50);
}
*.rng-datatype {
    color:rgb(110,90,100);
}
/* ELEMENT DOC PROSE */
div.element-docprose {
    padding:2em;
    font-family:bookman, 'times new roman', times, serif;
}
div.element-docprose h2 {
    font-size:120%;
    margin-top:1em;
}
div.element-docprose h3 {
    margin-top:0.6em;
    font-size:100%;
}
pre {
    color:rgb(180,0,0);
    border:1pt solid rgb(230,230,230);
    background-color:rgb(240,250,250);
    padding:0.6em;
    margin:1em 0 1em 0;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/* ATTRIBUTES */
table.attributes {
    font-size:90%;
    border:1pt solid rgb(230,230,230);
}
table.attributes th {
    background-color:rgb(230,230,230);
}
table.attributes td {
    border:1pt solid rgb(230,230,230);
}
tr.optional, tr.required {
    padding-top:0.5em;
}
tr.optional, tr.attribdoc-optional {
    background-color:rgb(255,255,250);
}
tr.required, tr.attribdoc-required {
    background-color:rgb(255,235,235);
}
/* NAVIGATION BOX */
div.nav-box {
    background-color:rgb(230,230,230);
    height:2.5em;
    position:relative;
    border:3pt outset rgb(200,200,200);
/* border-bottom:1pt solid rgb(200,200,200); */
    font-size:small;
}
a.previous-element, a.toc-link, a.next-element {
/* border:1pt solid red; */
    display:block;
    width:150pt;
    position:absolute;
    padding-top:0.5em;
    color:rgb(150,150,150);
}
a.previous-element {
    padding-left:1em;
}
a.next-element {
    right:0mm;
    top:0mm;
    text-align:right;
    padding-right:1em;
}
a.toc-link {
    left:200pt;
    right:200pt;
    width:auto;
    text-align:center;
}
a.previous-element:hover, a.toc-link:hover, a.next-element:hover {
    text-decoration:none;
    color:rgb(80,80,80);
}
div.indent {
    margin-left:1em;
}
div.attributeInformation {
    position:relative;
    margin-bottom:3em;
}

div.documentation, div.rdf {
    margin-left:2em;
/*    background-color:rgb(230,200,40);*/
    font-size:smaller;
    margin-bottom:1em;
    color:rgb(30,30,30);
}