@charset "utf-8";

h1, h2, h3, h4, h5, h6 { text-align: left; color: #005A9C; }
h1 { font: 170% sans-serif; padding-bottom: 2em; }
h2 { font: 140% sans-serif; padding-top: 1em; border-bottom: 1px solid #005A9C }
h3 { font: 120% sans-serif; padding-top: 0.7em; }
h4 { font: bold 110% sans-serif }
h5 { font: italic 105% sans-serif }
h6 { font: italic 100% sans-serif }
p.bridgehead { font: 110% sans-serif; padding-top: 0.7em; color: #005A9C;}
div.toc p, div.list-of-examples p { font: small-caps 105% sans-serif; color: #005A9C; }

body {margin-top: 2em; margin-left: 4em; margin-right:14em; margin-bottom:2em; font-family: arial, helvetica, sans-serif; 
 color: black; background: white; background-position: top left; background-attachment: fixed; background-repeat: no-repeat;
}


dl dt { font-weight: bold }
div.toc dl dt { font-weight: normal }

/* frontmatter ******************************************************/
*.releaseinfo{font-size:  140%; color: #005A9C; margin-right: 0.4em}
*.pubdate {font-size:  140%; color: #005A9C}
*.legalnotice {font-size: 90% }

dl.printhistory { margin-top: 2em; margin-bottom: 2em }
dl.printhistory dt { font: small-caps 105% sans-serif; color: #005A9C; margin-top: 0.4em; margin-bottom: 0.4em }

div.authorgroup p.editor {margin-left: 2em; font-size: 90% }

div.toc { margin-top: 3em }
div.toc > dl > dt > span > a { color: #0000ff}
div.toc > dl > dd > dl > dt > span > a { color: #0033ff}
div.toc > dl > dd > dl > dd > dl > dt > span > a { font-size: .9em; color: #0066ff; }
div.toc > dl > dd > dl > dd > dl > dd > dl > dt > span > a { font-size: .9em; color: #0099ff}
div.toc > dl > dd > dl > dd > dl > dd > dl > dd > dl > dt > span > a { font-size: .9em; color: #0099ff}

div.glosslist dl { margin-left: 2em }
div.glosslist dl dt { color: #005A9C }

/* bodymatter ******************************************************/
p.informative, p.normative {font-weight: bold; font-size: 100%; color: #8B0000; padding: 5px 0px 10px;}

dd > dl { margin-top: 1px; padding-top: 0px; margin-bottom: 1px; padding-bottom: 0px;}

table {border: 1px solid rgb(0,90,156); padding: 1em; margin-top: 1.5em; margin-bottom: 2em;}
th {border: 1px solid rgb(0,90,156); font-weight: bold; padding: 0.5em; font-weight:bold; color: rgb(0,90,156); font-size:90%}
td {border: 1px solid rgb(0,90,156); padding: 0.5em; text-align: left}
td *, td > * {text-align: left;}
table, tbody {padding:0;}
table {margin-top: 0.3em;}
caption{text-align:left; font-size: 90%}

/* the xsl renders db:simplelist as single-column tables */
table.simplelist, table.simplelist th, table.simplelist td, table.simplelist tr {border-style:none}

code {color: #660099; font-family: monospace; font-weight: bold}

*.RFC2119 { font-style:italic; font-size: 80%;}
pre {font-family: "Courier New", Courier, Monospace; color: #000; background-color: #eee; margin: 0; border: 1px solid #ddd; padding: 6px 6px 0px 6px; overflow: auto;}
*.todo {background-color:yellow}

/* elem-synopsis */ 
*.elem-synopsis { border: 2px solid rgb(200,200,225); background: rgb(230,230,255); padding: 1em}
/* special case for the code.option fields in elem-synopsis */
code.option { color: black; font-family: arial, helvetica, sans-serif; font-weight: normal }

/* conformance-list */
table.conformance-list, table.conformance-list th, table.conformance-list td, table.conformance-list tr {border-style:none}
table.conformance-list  { border-left: 1px solid #005A9C }
